{% extends 'template.html.twig' %}

{% block title %}Gérer : {{ project.name }}{% endblock %}

{% block main %}

    <div class="card bg-ligh border-dark m-2 w-100">
        <div class="card-header">
            <h5 class="card-title">Informations projet</h5>
        </div>
        <div class="card-body">
            {{ include('project/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </div>
        <div class="card-footer d-flex justify-content-around">
            {{ include('project/_archive_form.html.twig') }}
            {{ include('project/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="card bg-ligh border-dark m-2 w-100">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">Liste des tâches</h5>
            <a href="{{ path('task_new', {'id': project.id}) }}" class="btn btn-info">Ajouter une tâche</a>
        </div>           
        <div class="card-body d-flex justify-content-between flex-wrap">

            {% for task in project.tasks %}

                {% if task.state == 'A faire' %}
                    {% set status = 'table-primary' %}
                {% elseif task.state == 'En cours' %}
                    {% set status = 'table-info' %}
                {% else %}
                    {% set status = 'table-success' %}
                {% endif %}

                {% if "now"|date('Y-m-d') > task.scheduleDate|date('Y-m-d') and task.state != 'Fini'%}
                    {% set alarm = 'table-danger' %}
                {% else %}
                    {% set alarm = '' %}
                {% endif %}


                <article class ="col-12 col-sm-6 col-lg-3 my-2">
                    <div class="card bg-ligh border-dark h-100">
                        <div class="card-header">
                            <h5 class="card-title">{{ task.name }}</h5>
                        </div>
                        <div class="card-body align-center">
                            <table>
                                <tr><th>Finir pour : </th><td class="{{ alarm }}">{{ task.scheduleDate ? project.scheduleDate|date('d/m/Y') }}</td></tr>
                                <tr><th>Fini le : </th><td>{{ task.closeDate ? project.closeDate|date('d/m/Y') }}</td></tr>
                                <tr><th>Etat : </th><td class="{{ status }}">{{ task.state }}</td></tr>
                            </table>
                            <p>{{ task.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('task_edit', {'id': task.id}) }}" class="btn btn-info w-100 my-1">Gérer</a>
                        </div>
                    </div>
                </article>
            {% else %}
                <div class="alert alert-info" role="alert">
                    Aucune tâche enregistrée
                </div>
            {% endfor %}
        </div>           

    </div>
{% endblock %}


