{% extends 'template.html.twig' %}

{% block title %}Liste des projets actifs{% endblock %}

{% block main %}

    {% for project in projects %}

        {% if project.state == 'A faire' %}
            {% set status = 'table-primary' %}
        {% elseif project.state == 'En cours' %}
            {% set status = 'table-info' %}
        {% else %}
            {% set status = 'table-success' %}
        {% endif %}

        {% if "now"|date('Y-m-d') > project.scheduleDate|date('Y-m-d') and project.state != 'Fini'%}
            {% set alarm = 'table-danger' %}
        {% else %}
            {% set alarm = '' %}
        {% endif %}

        <article class ="col-12 col-sm-6 col-lg-3 my-2">
            <div class="card bg-ligh border-dark h-100">
                <div class="card-header">
                    <h5 class="card-title">{{ project.name }}</h5>
                </div>
                <div class="card-body align-center">
                    <table>
                        <tr><th>Finir pour : </th><td class="{{ alarm }}" >{{ project.scheduleDate ? project.scheduleDate|date('d/m/Y') }}</td></tr>
                        <tr><th>Fini le : </th><td>{{ project.closeDate ? project.closeDate|date('d/m/Y') }}</td></tr>
                        <tr><th>Etat : </th><td class="{{ status }}">{{ project.state }}</td></tr>
                    </table>
                </div>
                <div class="card-footer">
                    <a href="{{ path('project_edit', {'id': project.id}) }}" class="btn btn-info w-100 my-1">Gérer</a>
                </div>
            </div>
        </article>
    {% else %}
        <div class="alert alert-info" role="alert">
            Aucun projet trouvé
        </div>
    {% endfor %}
    
{% endblock %}


            {# <td class="table-primary">Primary</td>
            <td class="table-success">Success</td>
            table-info
            <td class="table-warning">Warning</td>
            <td class="table-danger">Warning</td> #}
 